version: '3.8'

services:
  db:
    build: ./database
    environment:
      POSTGRES_DB: homework_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    ports:
      - "8000:8000"
    depends_on:
      - db 
    volumes:
      - ./backend:/app
    environment:
      DB_HOST: db

volumes:
  postgres_data: